.authorCard {
  padding: 3rem;
  width: 15rem;
  border-radius: 8px;
  background: white;
  margin: 3rem 1.5rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 4px 2px;
}

.authorCard h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--light-500);
}

.authorWrap {
  width: 30%;
}

@media (max-width: 767px) {
  .authorWrap {
    width: 45%;
  }
}
