.searchContainer {
  padding: 0.7rem;
  background-color: var(--light-200);
  border-radius: 50px;
}

.searchInput {
  font-size: 1.5rem;
  color: var(--light-700);
  outline: none;
  border: none;
  background: transparent;
}

.searchIcon {
  margin-right: 1rem;
  height: 2rem;
  margin-top: 0.2rem;
  fill: var(--light-600);
}
