.login-component{
   background: url('/public/Login_BG.png') ;
   min-height: 100vh;
   background-position: center;
   background-size: cover;
   display: flex;
    justify-content: center;
    align-items: center;

}

.login-register{
    width: 400px;
    background-color: #ffff;
}
.login-logo{
    width: 120px;
    height: 120px;
}
.login-intro .organization-name{
font-size: 2rem;
}
.login-intro .organization-platform{
    font-size: 1.5rem;
}
.login-condition{
  margin-left: 3rem;
}

.login-condition button{
   background: none;
   border: none;
   font-size: 1.8rem;
   padding-bottom: 1.5rem;
}
.border{
    border-bottom: 2px solid #095a55 !important;
    color: #095a55;
}
.login-condition button:focus{
    color: #095a55;
    border-bottom: 2px solid #095a55 ;
}
.login-condition button:hover{
    color: #095a55;
}
 .login-condition-login{
    margin-right: 3rem;
}
.login-form{
    margin: 3rem;
}
.login-form .inputBox{
    position: relative;
  margin-bottom: 19px;
} 

.login-form .inputBox.w100 {
    width: 100%;
  }
  .login-form .inputBox.w100 input{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
  }
  .login-form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    font-weight: 300;
    transition: 0.3s;
  }


  
  .login-form .inputBox input:valid ~ span,
  .login-form .inputBox textarea:focus ~ span,
  .login-form .inputBox input:focus ~ span,
  .login-form .inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #095a55;
  }
  .login-button{
    background:#095a55;
    min-height: 36px;
    font-size: 16px;
    border-radius: 40px !important;
    box-shadow: none;
    width: 100%;
    color: #fff;
  }
  .login-trouble{
      color: #095a55;
      margin: 1.5rem;
  }

  @media screen and (max-width:1023px) {
    .login-component{
        background: url('/public/login-mobile.jpg');
    }
      
  }

  @media screen and (max-width:424px) {
   .login-register{
       margin: 1.5rem;
   }
      
  }